{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">Welcome!</h1>
            <p class="lead mb-4 fs-4">It's a pleasure to have you here, enjoy your stay!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/templates/static/img/3yZV.gif" alt="Image" class="img-fluid w-50">
        </div>
    </div>
</div>

{% endblock content %}
